

.app-header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--fifth-color);
    color: var(--primary-color);
    width: 100%;
    font-family: 'Karla', sans-serif;
    z-index: 99;
    border-bottom: 1px solid #cccccc;
}

.app-header .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.app-header .logo img {
    width: 3em;
}

.app-header .logo h1 {
    display: inline-block;
    font-size: 1.25em;
}

.toggle-menu {
    font-size: 1.5em;
    align-self: center;
    margin-right: 10px;
    display: none;
}

.toggle-sidebar {
    font-size: 1.5em;
    align-self: center;
    margin-left: 10px;
    /* display: none; */
}



.header-links-container ul{
    list-style: none;
    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header-links-container ul li {
    display: block;
    background: var(--fifth-color);
    border-left: 1px solid #cccccc;
    line-height: 70px;
    flex-grow: 1;
}



.header-links-container ul li a{
    text-decoration: none;
    display: block;
    width: 77px;
    height: 100%;
    text-align: center;
    color: var(--primary-color);
    transition: background 0.5s, color 0.5s;
    user-select: none;
}

.app-header a.router-link-active {
    background: var(--third-color);
    color: var(--fifth-color);
}







@media (max-width: 991px) {
    .toggle-menu {
        display: block;
    }
    
    .header-links-container {
        visibility: hidden;
        animation: fadeInDown 0.5s;
        position: absolute;
        top: 100%;
        right: 0;
        /* width: 261px; */
        background: #e9e6e0;
    }

    .header-links-container ul {
        display: grid;
        grid-gap: 10px;
        padding: 10px;
        grid-template-columns: repeat(2, 70px) ;
        grid-auto-rows: 70px;
    }

    .header-links-container ul li {
        border: 0;
        display: block;
        line-height: unset;
    }

    .header-links-container ul li a {
        width: unset;
    }

    .header-links-container ul li i{
        font-size: 2em;
        line-height: 70px;
    }
    /* Helpers */
    .show-nav-links-header {
        visibility: visible;
        animation: fadeInUp 0.5s;
    }
    .show-mobile-icon {
        display: inline-block;
    }
}