/* Font Families */
@import url("nucleo-style.css");
@import './header.css';

/* KEEP */
@import './keep/keep-main.css';
@import './keep/keep-editor.css';
@import './keep/keep-creator.css';
@import './keep/keep-prev.css';

/* EMAIL */
@import './email/email-app.css';
@import './email/email-sidebar.css';
@import './email/email-filter.css';
@import './email/email-list.css';
@import './email/email-preview.css';
@import './email/email-details.css';
@import './email/email-maker.css';

/* HOME */
@import './home/home-main.css';

@font-face {
    font-family: 'Karla';
    src: url('/css/fonts/Karla/Karla-Regular.ttf');
}

@font-face {
    font-family: 'Euro';
    src: url('./fonts/Eurofurence/eurof35.ttf');
}





:root {
    --primary-color: rgb(150, 114, 85);
    --second-color: rgba(10, 190, 129, 0.9);
    --third-color: rgb(120, 159, 233);
    --fourth-color: rgb(255, 180, 106);
    --fifth-color: #F8FAF8;
}

* {
    box-sizing: border-box;
    user-select: none;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: white;
    /* color: var(--fifth-color); */
    font-family: 'Lato', sans-serif;
    height: 100%;
}

.main {
    position: relative;
    height: 100%;
}

/* Helpers */