
@import './header.css';


:root {
    --primary-color: #A63A50;
    --second-color: #E38C3E;
    --third-color: #6F82C8;
    --fourth-color: #F3AE68;
    --fifth-color: #F8FAF8;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--primary-color);
}