@import './header.css';
@import './home.css';


:root {
    --primary-color: rgb(150, 114, 85);
    --second-color: rgb(27, 95, 72);
    --third-color: rgb(120, 159, 233);
    --fourth-color: rgb(255, 180, 106);
    --fifth-color: #F8FAF8;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--primary-color);
    color: var(--fifth-color);
}


/* Helpers */
