

.keep-main {
    background: linear-gradient(var(--fifth-color), rgb(175, 175, 175) ),url('../../imgs/keep-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed; 
    bottom: 0;
}

.main-menu-container {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

.search-keep {
    border: 1px solid rgba(255, 255, 255, 0.699);
    padding: 5px 15px 5px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.973);
    box-shadow: 2px 2px 2px rgba(37, 37, 37, 0.568);
}

.search-keep input {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.search-keep input:focus {
    outline: none;
}

.main-menu-container>* {
    margin: 0 20px 0;
    font-size: 0.8rem;
}

.main-menu-container input,
select {
    padding: 5px;
}


.new-keep-btn {
    margin: 20px auto;
    transition: all .2s ease-in-out;
    padding: 10px;
    width: 400px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'lato';
    font-weight: lighter;
    color: rgb(88, 88, 88);
    border: 1px solid rgba(151, 151, 151, 0.562);
    box-shadow: 2px 2px 2px 1px rgba(32, 32, 32, 0.575);
    border-radius: 2px;
    animation-duration: 2s;
    animation-name: bounceIn;
    background-color: rgb(255, 255, 255);
}

.new-keep-btn:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.726);
    transform: scale(1.02);
}

.keep-sort {
    width: 100px;
    height: 20px;
    margin-left: 10px;
}



@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    60% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}










.btn-back {
    cursor: pointer;
}

.btn-delete {
    cursor: pointer;
}



.btn-pin {
    cursor: pointer;
}

/* CHECKLIST */



.item-container.flex {
    border-bottom: 1px solid rgba(88, 88, 88, 0.253);
    padding: 5px;
    margin: 5px;
    justify-content: space-between;
}



label {
    /* padding: 5px; */
    color: rgba(73, 73, 73, 0.815);
}









.remove-btn {
    cursor: pointer;
    font-size: 25px;
    color: rgb(54, 54, 54);
}

.add-icon {
    display: inline;
    color: rgb(122, 113, 113);
}

.img-container {
    display: flex;
    margin-bottom: 10px;
}

.img-container img {
    /* display: flex; */
    width: 250px;
    margin: 0 auto;
}


/* HELPERS */

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.line {
    text-decoration: line-through;
}

@media (max-width: 500px) {
    .new-keep-btn {
        width: calc(280px - 2vw);
    }
    .search-keep input{
        width: calc(150px - 5vw);
    }
}


@media (max-width: 500px) {
    .new-keep-btn {
        width: calc(260px - 2vw);
    }
    .search-keep input{
        width: calc(150px - 5vw);
    }
}