
.email-details-container {
    position: absolute;
    top: 70.6px;
    height: calc(100% - 70.6px);
    width: 100%;
    background: rgb(242, 242, 242);
    color: black;
    
}

.email-details-container * {
    user-select: text;
}

.email-details-name-first {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    line-height: 60px;
    margin: 10px;
    font-size: 2em;
    color: white;
}

.email-details-container p:nth-of-type(1) {
    display: inline-block;
    font-size: 2em;
}

.email-details-container .subject {
    margin: 0;
    padding: 0 0.5em;
    font-family: 'Karla', sans-serif;
    font-size: 1.25em;
}

.email-details-container .subject::first-letter {
    text-transform: uppercase;
    color: red;
    font-size: 1.5em;
}

.email-details-container .date {
    margin: 0;
    padding: 0 0.5em;
    font-family: 'Karla', sans-serif;
}

.email-details-container .body {
    margin: 0;
    padding: 0 0.5em;
    font-family: 'Karla', sans-serif;
    font-size: 1em;
}


.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(43, 43, 43, 1);
    padding: 15px;
}

.buttons-container a {

}

.crud-buttons > * {
    margin-left: 1em;
    padding: 1em;
    font-size: 1em;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    background: transparent;
    color: white;
    border: none;
    transition: all 0.2s;
}

.crud-buttons > *:hover {
    color: rgba(43, 43, 43, 1);
    background: white;
}

.email-details-container a{
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    flex-wrap: nowrap;
    font-size: 2em;
}

.email-details-container a i{
    margin-right: 5px;
    line-height: 38.4px;
    color: whitesmoke;
}



@media (max-width: 991px) {
    .email-details-container {
        position: absolute;
        top: 51px;
        height: calc(100% - 51px);
        width: 100%;
    }
}

@media (max-width: 560px) {
    .email-details-container a{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        font-size: 1.3em;
    }

    .crud-buttons > * {
        margin-left: 0;
        padding: 0.75em;
        font-size: 1em;
        border-radius: 50%;
        cursor: pointer;
        outline: none;
        background: transparent;
        color: white;
        border: none;
        transition: all 0.2s;
    }
}