
.email-details-container {
    position: absolute;
    top: 70.6px;
    height: calc(100% - 70.6px);
    width: 100%;
    background: rgb(71, 71, 71);
}

.email-details-name-first {
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    color: white;
    line-height: 60px;
    margin: 10px;
    font-size: 2em;
}

.crud-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(200, 127, 68);
}

.crud-buttons > * {
    margin-left: 1em;
    padding: 1em;
    font-size: 1em;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

.email-details-container a{
    text-decoration: none;
    color: navajowhite;
    display: flex;
    width: 130px;
    flex-wrap: nowrap;
    align-items: center;
}

.email-details-container a i{
    margin-right: 5px;
    font-size: 10px;
    line-height: 22px;
}



@media (max-width: 991px) {
    .email-details-container {
        position: absolute;
        top: 51px;
        height: calc(100% - 51px);
        width: 100%;
    }
}