.email-app-sidebar-container {
    min-width: 200px;
    background-color: var(--second-color);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    z-index: 50;
}

.email-app-sidebar-container .link-to-compose {
    align-self: center;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    background: #8c34d9;
    padding: 10px 40px;
    text-decoration: none;
    text-align: center;
}

.email-app-sidebar-container button {
    margin-top: 1em;
    border-bottom: 1px solid grey;
    padding: 8px;
    border-radius: 0px 25px 25px 0px;
    text-align: justify;
    border: 0;
    font-size: 1em;
    background: var(--fifth-color);
    margin-right: 5px;
    box-shadow: 0px 0px 5px black;
    transition: all 0.2s;
    outline: none;
}


.email-app-sidebar-container button:hover,
.email-app-sidebar-container button:focus {

    background: var(--fourth-color);
    margin-right: 5px;
    color: white;
}

.email-app-sidebar-container button>i {
    margin-right: 5px;
}

.progress-bar {
    background: rgba(57, 57, 57, 0.99);
    margin-top: 1em;
    align-self: center;
    min-width: 9.375em;
    text-align: center;
    border-radius: 25px;
    padding: 0.5em 0;
    position: relative;
    font-style: italic;
}

.progress-bar>div {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--third-color);
    border-radius: 25px;
}

.progress-bar h1 {
    margin: 0;
    position: relative;
    z-index: 5;
}

@media (max-width: 560px) {
    .email-app-sidebar-container {
        position: fixed;
        top: 70px;
        left: 0;
        width: 75%;
        height: 100vh;
        transform: translateX(-100%);
        align-items: stretch;
    }

    .email-app-sidebar-container .link-to-compose {
        align-self: unset;
        border: 0;
        font-size: 1em;
        background: var(--fifth-color);
        margin-right: 5px;
        border-radius: 0px 25px 25px 0px;
        box-shadow: 0px 0px 5px black;
        transition: all 0.2s;
        outline: none;
        color: black;
    }

    .shown {
        transform: translateX(0);
        transform-origin: right;
        transition: transform 0.5s;
    }
}